[Unit]
Description=PiMidiBox MIDI Router daemon

[Service]
Type=forking
ExecStart=pimidibox
ExecStop=pimidibox --kill

[Install]
WantedBy=multi-user.target